/* Feature 卡片的基础样式 */
.VPFeature {
  display: block;
  border: 1px solid var(--vp-c-bg-soft);
  border-radius: 12px;
  height: 100%;
  background-color: var(--vp-c-bg-soft);
  transition: all 0.25s;
  transform: translateY(0);
}

/* 鼠标悬停时的边框效果 */
.VPFeature:hover {
  box-shadow: var(--vp-shadow-2);
  border-color: var(--vp-c-brand);
  text-decoration: initial;
  background-color: var(--vp-c-bg-soft-up);
  transition: all 0.25s;
  transform: translateY(-3px);
}